@import '../../../../../assets/css/variable.scss';
.product {
    background: white;
    text-align: center;
    padding: 15px 15px 20px 15px;
    margin: 15px 0 0 0;
    .headProduct{
        display: flex;
        align-items: center;
        text-align: center;
        color: rgb(212, 0, 0);
    }
    .productDetail {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        @include phone {
            overflow-x: auto;
            flex-wrap: nowrap !important;
        }
        @include tablet{
            overflow-x: auto;
            flex-wrap: nowrap !important;
        }
        .product--item {
            padding: 15px;
            div{
                cursor: pointer;
            }
            .price__prod{
                display: flex;
                align-items: center;
                .price{
                    font-weight: bold;
                }
                .oldPrice{
                    @include phone{
                        display: none;
                    }
                }
            }
        }
        .product--item:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px !important;
        }
    }
}
