@import '../../../assets/css/variable.scss';

.articleManage{
    background: white;
    padding: 10px;
    .tabArticle{
        margin-bottom: 15px;
        @include phone{
            display: grid;
            grid-template-columns: 27% 40% 40%;
            font-size: 12px;
            overflow-x: auto;
            overflow-y: hidden;
        }

        @include TabItem ;
    }
    .tab-content{
        @include phone{
            padding: 15px 10px;
        }
    }
}