.header-container{
    .control{
        .module{

        }
        .content{
            .account{
                .mess{
                    cursor: pointer;
                }
                .mess:hover{
                }
                .acc{

                }
                .acc:hover{
                    background: orange;
                    cursor: pointer;
                }
                .logout{

                }
                .logout:hover{
                    background: orange;
                }
            }
        }
    }
}

a {
    text-decoration: none;
}

.dashboard_item:hover:not(.active) {
    background-color: rgb(76, 117, 235);
    cursor: pointer;
    text-decoration: none;
}

a.active {
    background-color: rgb(76, 117, 235);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    border-radius: 15px;
}