a {
    text-decoration: none;
}

.dashboard_item:hover:not(.active) {
    background-color: rgb(76, 117, 235);
    text-decoration: none;
    cursor: pointer;
}

a.active {
    background-color: rgb(76, 117, 235);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    border-radius: 15px;
}
