@import '../../../../../assets/css/variable.scss';
.Result__search{
    padding: 15px;
    .resultSearch{
        display: flex;
        background: white;

        .filterSearch{
            border-right: 1px solid #e6e6e6;
            @include phone{
                display: none;
            }
            .addrReceive{
                border-bottom: 1px solid #e6e6e6;
                padding: 15px 0;
            }
            .filterPrice{
                @extend .addrReceive;
                .item__price{
                    background: #f8f9fa;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    padding: 0 10px;
                    cursor: pointer;
                    span{
                        font-size: 12px;
                    }
                }
                .item__price:hover{
                    background: #ffc107;
                }

                .activePrice{
                    background: #ffc107;
                }
            }
        }

        .list__product{
            @include phone{
                padding: 0 !important;
            }
            .suggest__list{
                .listResult{
                    display: flex;
                    cursor: pointer;
                    .result{
                        width: 16.67%;
                        padding: 10px;
                    }
                    .result:hover{
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                    }
                    .loadResult{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.tabSearch{
    @include TabItem;
    margin-bottom: 20px;
}


.provider{
    @extend .addrReceive;
    .item__address {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
    }
}

.priceBetween, .findProd{
    height: 25px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width: 100%;
}