.item__price{
    background: #dddddd;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
    span{
        font-size: 12px;
    }
}
.item__price:hover{
    background: #ffc107;
}

.activePrice{
    background: #ffc107;
}

.item__address {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.priceBetween, .findProd{
    height: 25px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width: 100%;
}