.character__special{
    ul{
        padding: 15px;
        li{
            font-size: 13px;
        }
    }
}

.slick-next, .slick-prev{
    // display: none;
}

.slick-next:before, .slick-prev:before{
    color: blue !important;
    font-size: 20px !important;
}