.character__special{
    ul{
        padding: 15px;
        li{
            font-size: 13px;
        }
    }
}

.slick-next:before, .slick-prev:before{
    color: blue !important;
    font-size: 20px !important;
}

.slick-slider{
    .slick-list{
        .slick-track{
            width: 100% !important;
        }
    }
}

.prod-similar{
    cursor: pointer;
    display: grid;
    justify-items: center;
}

.orderLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    font-weight: 600;
}
.addCart{
    height: 40px;
    width: 100%;
}