@import '../../../assets/css/variable.scss';
.Bill{
    background: white;
    padding: 10px;
    .tabBill{
        margin-bottom: 15px;
        @include phone{
            display: grid;
            grid-template-columns: 25% 35% 50%;
            font-size: 12px;
            overflow-x: auto;
            overflow-y: hidden;
        }
        @include TabItem ;
    }
    .detailBill{
        .allBill{
            .list-bill{
                table{
                    @include phone{
                        overflow-x: scroll;
                        display: block;
                    }
                }
            }
        }
    }
}