.result {
    input {
        background-color: rgb(204, 204, 204);
        height: 60px;
        font-size: 30px;
      }
  }
  
.button {
    button {
        width: 25%;
        height: 60px;
        font-size: 20px;
        font-weight: 500;
    }
}
  
  
  