@import "../../../../../assets/css/variable.scss";

.hightLight {
    .list__category {
        .col-md-1:hover {
            color: blue important;
            transform: scale(1.1);
            transition: transform 0.3s linear;
        }
    }
}

.search__hightLight {
    display: flex;
    .card {
        border: none;
        cursor: pointer;
        .card-body:hover {
            border: 1px solid rgb(85, 85, 255) !important;
            transform: scale(1.1);
            transition: transform 0.2s linear;
        }
        .card-body{
            border-radius: 5px;
            border: 1px solid rgb(230,230,230);
            margin-right: 15px;
        }
    }
}

.product {
    .product__detail {
        display: flex;
        flex-wrap: wrap;
        @include phone {
            overflow-x: auto;
            flex-wrap: nowrap !important;
        }
        .product--item {
            div{
                cursor: pointer;
            }
            .price__prod{
                .oldPrice{
                    @include phone{
                        display: none;
                    }
                }
            }
        }
        .product--item:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px !important;
        }
    }
}

.suggest__list{

}
