@import "../../../../../assets/css/variable.scss";

.hightLight {
    .list__category {
        .col-md-1:hover {
            color: blue important;
            transform: scale(1.1);
            transition: transform 0.3s linear;
        }
    }
}

.mail{
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 15px 0;
    background: white;
    @include phone{
        padding: 0;
    }
    .titleMail{
        .imgMail{
            @include phone{
                display: none;
            }
        }
        .info--mail {
            p{
                @include phone{
                    display: none;
                }
            }
        }
    }
    .formMail{
        display: flex;
        button{
            width: 120px;
        }
    }
}
