@import "./../../../../../assets/css/variable.scss";

img {
    max-width: 100%;
}

.slide {
    #carousel-example-1z {
        .control {
            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .list_slide {
            .carousel-item {
                height: 240px;
                @include phone {
                    height: 150px;
                }
            }
        }
        .list_slide:hover~.carousel-control-next,
        .list_slide:hover~.carousel-control-prev {
            opacity: 1 !important;
        }
        .carousel-control-prev {
            @include phone {
                top: 55px !important;
            }
        }
        .carousel-control-prev:hover {
            opacity: 1 !important;
        }
        .carousel-control-next {
            @extend .carousel-control-prev;
        }
        .carousel-control-next:hover {
            opacity: 1 !important;
        }
    }
}