@import "../../../../../assets/css/variable.scss";

.Prod__Suggest{
    background: white;
    padding: 10px;
    border: 1px solid #e6e6e6;
}
.tab_product {
    display: flex;
    background: white;
    .item-category{
        width: 15%;
        a{
            img{
                width: 40px;
                height: 30px;
            }
            span{
                margin-left: 10px;
            }
        }
    }
}

.list{
    display: flex;
    .list__prod{
        width: 20%;
        p{
            font-size: 12px;
        }
        .price{
            display: flex;
            gap: 15px;
        }
    }
}

.view__more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    button{
        width: 20%;

    }
}