@import "../../../../../assets/css/variable.scss";

.Prod__Suggest{
    background: white;
    padding: 10px;
    border: 1px solid #e6e6e6;
}
.tab_product {
    display: flex;
    background: #e3e3e3;
    padding: 5px 0;
    .item-category{
        width: 16.2%;
        background: white !important;
        a{
            display: flex;
            gap: 10px;
            height: 60px ;
            align-items: center;
            img{
                width: 25px;
                height: 25px;
            }
            span{
                margin-left: 10px;
            }
        }
        a.active{
            border-bottom: 2px solid #538aff !important;
        }
    }
}

.list{
    .list__prod{
        width: 20%;
        p{
            font-size: 12px;
        }
        .price{
            display: flex;
            gap: 15px;
        }
    }
}

.view__more, .reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    button{
        width: 20%;

    }
}