@import '../../../assets/css/variable.scss';

.Discount{
    background: white;
    padding: 10px;
    .discountHeader{
        @include headerAdmin;
        .discountTitle{
            @include titleAdmin;
        }
    }

    .addDiscount{
        display: flex;
        justify-content: space-between;
        .addUser{
            display: flex;
            justify-content: space-between;
        }
    }

    .nav{
        @include TabItem ;
    }

    table{
        @include phone{
            overflow-x: scroll;
            display: block;
        }
    }
}
