.coin-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .myCoin{
        display: flex;
        align-items: center;
        gap: 15px;
        img{
            width: 50px;
            height: 50px;
        }
        .numbCoin{
            font-size: 23px;
            color: orange;
        }
        .coin-current{
            span{
                color: orange;
            }
            div{
                color: grey;
            }
        }
    }
    .getMoreCoin{
        color: orange;
    }
}

.coin-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    div{
        .listGetCoin{
            .coin-title{
                font-size: 15px;
            }
        }
    }
}