@import '../../../../assets/css/variable.scss';

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid rgb(223, 223, 223);
    @include phone{
        display: none;
    }
    @include tablet{
        display: none;
    }
}

.category-mobile {
    display: none;
    @include phone{
        display: block;
    }
    text-align: center;
    border-bottom: #91a4d8;
    background: white;
    z-index: 1000;
    width: 100%;
    height: 42rem;
    position: absolute;
    bottom: 60px;
    padding: 10px 15px;
    box-shadow: 0 -10px 20px -10px #c8e2ff;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .catg-header{
        position: relative;
        padding: 10px 15px;
        border-bottom: 1px solid grey;
        .close-category{
            position: absolute;
            width: 30px;
            top: 5px;
            left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title-catgory{
            padding: 0px calc(30px);
        }
    }

    .category-content{
        display: grid;
        grid-template-columns: 22% 78%;
        background: rgb(230, 230, 230);
        padding: 10px 0;
        gap: 10px;
        .catg-left{
            background: rgb(219, 238, 255);
            height: 500px;
            overflow: hidden scroll;
            padding: 10px 0;
            
            .item-catg{
                border-bottom: 1px solid lightgrey;
                display: flex;
                flex-direction: column;
                padding: 10px 5px;
                align-items: center;
                .img-catg{
                    width: 45%;
                    border-radius: 50%;
                    margin-bottom: 5px;
                }
                span{
                    font-size: 11.5px;
                }
            }
            .active-item-catg{
                border-left: 4px solid rgb(119, 119, 255);
                background: white;
            }
        }
        .catg-right{
            background: white;
            .catg-right-header{
                border-bottom: 1px solid lightgray;
            }
            .catg-right-content{
                padding: 10px 0;
                display: grid;
                height: 480px;
                overflow-y: scroll;
                grid-template-columns: repeat(3,1fr)
            }
        }
    }
}



.menuMB{
    display: none !important;
    text-align: center;

    @include phone{
        background: rgb(250, 250, 250);
        border: 1px solid rgb(236, 236, 236);
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        display: flex !important;
        position: fixed;
        bottom: 0;
        z-index: 100;
    }
    @include tablet{
        background: rgb(250, 250, 250);
        border: 1px solid rgb(236, 236, 236);
        width: 100%;
        justify-content: space-between;
        padding: 10px 60px;
        display: flex !important;
        position: fixed;
        bottom: 0;
        z-index: 100;
    }
    .menu-item{
        color: grey;
        i{
            @include phone{
                display: flex;
                justify-content: center;
                font-size: 15px;
            }
            @include tablet{
                font-size: 15px;
            }
        }
    }

    .activeCategoryMB{
        color: #530192;
    }

    .activeMenuMB{
        color: #530192;
    }
}