@import '../../../assets/css/variable.scss';

.userManage{
    background: white;
    padding: 10px;
    .user-head{
        @include headerAdmin;
        .userTitle{
            @include titleAdmin;
        }
    }
    .addUser{
        display: flex;
        justify-content: space-between;
    }
    table{
        @include phone{
            overflow-x: scroll;
            display: block;
        }
    }
}