@import '../../../assets/css/variable.scss';

.categoryManage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .category-head{
        @include headerAdmin;
        .category-title{
            @include titleAdmin;
        }
    }
}