.mess{
    position: relative;
    cursor: pointer;
    font-size: 17px;
}

.detail_notification{
    font-size: 14px;
    position: absolute;
    top: 3rem;
    right: 4.5rem;
    width: 20rem;
    height: 30rem;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.35);
    z-index: 9999;
    color: black;

    .list_notification{
    }
    .detail_notification_header:hover{
        background: lightblue;
        cursor: pointer;
    }
    .detail_notification_header{
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
}

.detail_notification::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 36%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}