.login-bg {
    background: url('https://i.pinimg.com/originals/5a/7f/1e/5a7f1eff255d5e1d91e542d67c8be256.jpg') no-repeat center/cover;
    box-shadow: inset 0 0 0 2000px rgba(63, 63, 63, 0.5);
    height: 100vh;
    .login-container {
        width: 400px;
        height: 450px;
        position: absolute;
        margin: auto;
        inset: 0;
        background: white;
        border-radius: 10px;
        .login-content {
            padding: 30px;
            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 30px;
            }
            .login-input {
                margin: 10px 0;
                .custom-input-password {
                    position: relative;
                    cursor: pointer;
                    i {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                }
            }
            .btn-login {
                width: 100%;
                background: rgb(0, 97, 224);
                margin: 15px 0 5px 0px;
                height: 35px;
                border-radius: 30px;
                border: none;
                color: white;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}