.notify{
    cursor: pointer;
    i{
        font-size: 17px;
        span{
            position: absolute;
            top: -10px;
            left: 10px;
        }
    }
}

.detailNotify{
    font-size: 14px;
    position: absolute;
    top: 4rem;
    right: 9rem;
    width: 27rem;
    height: 38rem;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.35);
    z-index: 9999;
    color: black;
    .listNotify{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        cursor: pointer;
        background: #f1f1f1;
        .item-list{
            .content{
                font-size: 13px;
            }
        }
        img{
            width: 13%;
            border-radius: 50%;
        }
    }
    .listNotify:hover{
        background: #e7e7e7 !important;
    }
    .notify-read{
        @extend .listNotify;
        background: white !important;
    }
    .list-notify {
        overflow-y: hidden;
        height: 32rem;
    }
    .list-notify:hover {
        overflow-y: scroll;
    }
    .markAll{
        position: absolute;
        bottom: 0;
        width: 96%;
        text-align: center !important;
        padding: 3px 0;
        cursor: pointer;
    }

}

.detailNotify::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 5.5rem;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}