
.dashboard{
    .menu-left{
        display: flex;
        padding: 0.7rem 1rem;
        align-items: center;
        justify-content: space-between;
        color: white;
        border-bottom: 1px solid #4d4a4a;
        .module{
            i{
                width: 15px;
            }
        }
    }
    .menu-left:hover{
        background: #4c75eb;
    }
}

.menuleftCollapse{
    height: 90vh;
}

.menu-hoziron{
    border-left: 1px solid rgb(69, 141, 141);
}