@import "./../../../../assets/css/variable.scss";

.dashboard{
    @include phone{
        position: absolute;
        top: 40px;
        z-index: 100 !important;
    }
    .menu-left{
        display: flex;
        padding: 0.65rem 1rem;
        align-items: center;
        justify-content: space-between;
        color: white;
        border-bottom: 1px solid #4d4a4a;
        .itemModule{
            i{
                width: 15px;
                margin-right: 10px;
            }
        }
    }
    .menu-left:hover{
        background: #4c75eb;
    }
}

.menuLeftCollapse{
    div{
        text-align: center;
        padding: 10px 0;
        color: rgb(204, 218, 255);
        font-size: 12px;
        font-weight: bold;
    }
    height: 100vh;
}

.menu-horizon{
    color: white;
    padding: 0px;
    border-left: 1px solid rgb(69, 141, 141);
    @include phone{
        display: none;
    }
    .sideNav{
        background: #0c1e35;
        height: 100%;
        position: relative;
        z-index: 101;
        z-index: 200;
        .menu-horizon-header{
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            z-index: 101;
        }
        .sidebar-bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            opacity: 0.3;
            left: 0;
            top: 0;
            z-index: 100;
        }
    }
    .module{
        padding: 12px 15px 0 15px;
        background: rgb(31, 35,56);
        img{
            width: 60%;
        }
    }
}



