@import "./../../../../assets/css/variable.scss";

.dashboard {
  @include phone {
    position: absolute;
    top: 40px;
    z-index: 100 !important;
  }
  .menu-left {
    display: flex;
    padding: 0.65rem 1rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid #4d4a4a;
    .itemModule {
      display: flex;
      align-items: center;
      i {
        width: 15px;
        margin-right: 10px;
      }
    }
  }
  .menu-left:last-child {
    border-bottom: none;
  }
  .menu-left:hover {
    background: #4c75eb;
  }
}

.menuLeftCollapse {
  .logoCollapse {
    text-align: center;
    padding: 10px 0;
    color: rgb(204, 218, 255);
    font-size: 12px;
    font-weight: bold;
  }
  height: 100vh;
}

.menu-horizon {
  color: white;
  padding: 0px;
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }

  .sideNav {
    background: #0c1e35;
    height: 100%;
    position: relative;
    z-index: 101;
    z-index: 200;
    .menu-horizon-header {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 101;
    }
    .sidebar-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      opacity: 0.3;
      left: 0;
      top: 0;
      z-index: 100;
    }
  }
  .logoAdmin {
    padding: 12px 15px 0 15px;
    background: rgb(31, 35, 56);
    img {
      width: 60%;
    }
  }
}

.fullMenuLeft {
  width: 100% !important;
}

.menuLeft {
  width: 17% !important;
  @include phone {
    width: 40% !important;
    position: absolute;
    height: 100%;
    z-index: 100;
    top: 3rem;
  }
}

.rightContent {
  width: 83% !important;
}
